In [1]:
# pip install dash pandas

In [2]:
import dash
from dash import dcc, html, Input, Output
import plotly.express as px
import pandas as pd

In [3]:
df=pd.read_csv("/Users/eupirate/Documents/DA_L7/L7_term2/visualization/wk10_bike_sharing_data_class.csv")

In [4]:
df

,Day,Total_Rentals,Weather_Condition,Temperature,Holiday,Wind_Speed
0,2022-01-01,177,Sunny,21.7,0,10.2
1,2022-01-02,181,Rainy,29.4,0,17.4
2,2022-01-03,212,Cloudy,24.8,0,22.4
3,2022-01-04,161,Cloudy,17.1,0,16.8
4,2022-01-05,190,Sunny,15.5,0,13.4
...,...,...,...,...,...,...
495,2023-05-11,174,Sunny,17.3,0,21.6
496,2023-05-12,201,Cloudy,17.6,0,16.9
497,2023-05-13,211,Sunny,25.2,0,20.5
498,2023-05-14,199,Rainy,23.4,0,25.1
499,2023-05-15,189,Rainy,29.2,0,20.1

In [5]:
# we initiate the dash app
app=dash.Dash(__name__)

In [6]:
#Define our layout (check dash official documentation)

app.layout = html.Div(children=[
    html.H1(children='Bike Sharing Dashboard'),
    
    html.Div(children='''
        A dashboard to display bike sharing data.
    '''),
    
    dcc.Graph(
        id='example-graph'
    ),
    
    dcc.Dropdown(
    id='dropdown',
    options = [{'label':i, 'value':i} for i in df.columns.unique()],
    value = df.columns[0]
    )
])

In [7]:
#We will use callback --> it will update the graphs according to the dropdown selection

@app.callback(
    Output('example-graph', 'figure'),
    [Input('dropdown', 'value')]
)

def update_figure(selected_column):
    fig = px.histogram(df, x=selected_column)
    
    fig.update_layout(transition_duration=500)
    
    return fig

In [8]:
#Run the dashboard app

if __name__ == '__main__':
    app.run_server(debug=True)