In [1]:
#wk5_sta_in_class_2nd_bank_mkt_campaign
#IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing the dataset
dataset = pd.read_csv('/Users/eupirate/Documents/DA_L7_CCT/wk5_stat_in_class_2nd_Bank_Mkt_Campaign.csv')

In [3]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

we need one discrete dist. and one normal distr.

In [4]:
# x = number of people who has a loan (within 20)
# n = 20
# p = reletive frequency

In [5]:
# I need to work out the p
value_counts = dataset['loan'].value_counts()
relative_frequencies = value_counts/len(dataset) # lenght
relative_frequencies

no     0.847158
yes    0.152842
Name: loan, dtype: float64

In [6]:
# nomral dist. mean and std

In [7]:
dataset.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [12]:
# no mode in above dataset, mood is 0, people's account have 0 balance

In [16]:
mode = dataset['balance'].mode()
print(mode)

0    0
Name: balance, dtype: int64

In [8]:
# X2 = balance in the accounts --> mu = 1422, std = 3009
# we want to cal the prob that a random person has more than 1200euro in the account
from scipy.stats import norm

mean = 1422
std_dev = 3009

In [9]:
norm.sf(1200, mean, std_dev)

0.5294067477985785

In [10]:
# x3 = age of the customers (in year old) --> mu = 42, std = 10
# we want to calc. Prob. that a customer is bewtwwe 38 and 43 years old

mean1 = 41
std_dev1 = 10

In [11]:
norm.cdf(43, mean1, std_dev1) - norm.cdf(38, mean1, std_dev1)

0.1971711316280556

In [15]:
mode = dataset['balance'].mode()
print(mode)

0    0
Name: balance, dtype: int64