In [1]:
import numpy as np
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# my local file path: df = pd.read_csv('/Users/eupirate/Documents/DA_L7_CCT/DA_L7/CA_1/water_withdrawals.csv')

In [3]:
# type function
type(32)

int

In [4]:
# print function
print("Hello!")

Hello!

Examples in Context of "Hello"

    In the string "Hello", the characters are 'H', 'e', 'l', 'l', 'o'.
    According to the ASCII table:
        'H' has an ASCII value of 72
        'e' has an ASCII value of 101
        'l' has an ASCII value of 108
        'o' has an ASCII value of 111
    The highest ASCII value among these is 111 ('o'), and the lowest is 72 ('H').

In [5]:
# ASCII table 
max("Hello")

'o'

In [6]:
min("Hello")

'H'

In [7]:
# import pandas as pd
df = pd.read_csv('/Users/eupirate/Documents/DA_L7_CCT/wk4_py_diamonds.csv')

In [8]:
df

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [9]:
import random as rn

In [10]:
for i in range(5):
    x = rn.random()
    print(x)

0.8336345505975074
0.9156274663861945
0.19509070009404084
0.6830594637554107
0.2431225646281172

In [11]:
# pick a random int from 1 to 45
rn.randint(1,45)

43

In [12]:
for i in range(6):
    x = rn.randint(1,45)
    print(x)

27
7
27
45
41
33

In [13]:
def addTwoNums(): 
    x = 3
    y = 2
    z = x + y
    print(z)

In [14]:
addTwoNums()

5

In [15]:
def addTwoNumsParam(x,y): 
    z = x + y
    print(z)

In [16]:
addTwoNumsParam(6,9)

15

In [17]:
def addNums(x,y):
    z = x + y
    print(z)

In [18]:
addNums(1,2)

3

In [19]:
def multiNums(x,y):
    z = x * y
    print(z)

In [20]:
multiNums(2,6)

12

In [21]:
def subNums(x,y):
    z = x - y
    print(z)

In [22]:
subNums(5,1)

4

In [23]:
def divNums(x,y):
    z = x / y
    print(z)

In [24]:
divNums(9,3)

3.0

In [25]:
def extractCSV(a):
    df = pd.read_csv(a)
    #return df.head()
    return df

In [26]:
extractCSV('/Users/eupirate/Documents/DA_L7_CCT/wk4_py_diamonds.csv')

       carat        cut color clarity  depth  table  price     x     y     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   carat    53940 non-null  float64
 1   cut      53940 non-null  object
 2   color    53940 non-null  object
 3   clarity  53940 non-null  object
 4   depth    53940 non-null  float64
 5   table    53940 non-null  float64
 6   price    53940 non-null  int64
 7   x        53940 non-null  float64
 8   y        53940 non-null  float64
 9   z        53940 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 4.1+ MB