In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings("ignore")

In [3]:
stocks = pd.read_csv("/Users/eupirate/Documents/DA_L7_CCT/wk7_py_inclass_prices-split-adjusted.csv",
                    usecols=["date","symbol","open","close"],
                    parse_dates=["date"],
                    index_col="date")

In [5]:
stocks.info

<bound method DataFrame.info of            symbol        open       close
date
2016-01-05   WLTW  123.430000  125.839996
2016-01-06   WLTW  125.239998  119.980003
2016-01-07   WLTW  116.379997  114.949997
2016-01-08   WLTW  115.480003  116.620003
2016-01-11   WLTW  117.010002  114.970001
...           ...         ...         ...
2016-12-30    ZBH  103.309998  103.199997
2016-12-30   ZION   43.070000   43.040001
2016-12-30    ZTS   53.639999   53.529999
2016-12-30    AIV   44.730000   45.450001
2016-12-30    FTV   54.200001   53.630001

[851264 rows x 3 columns]>

In [6]:
stocks.head()

           symbol        open       close
date
2016-01-05   WLTW  123.430000  125.839996
2016-01-06   WLTW  125.239998  119.980003
2016-01-07   WLTW  116.379997  114.949997
2016-01-08   WLTW  115.480003  116.620003
2016-01-11   WLTW  117.010002  114.970001

In [7]:
stocks_small = stocks.loc["2016-02-01":"2016-03-01"].reset_index()

In [8]:
stocks_small.head()

        date symbol        open       close
0 2016-02-01   WLTW  114.000000  114.500000
1 2016-02-02   WLTW  113.250000  110.559998
2 2016-02-03   WLTW  113.379997  114.050003
3 2016-02-04   WLTW  114.080002  115.709999
4 2016-02-05   WLTW  115.120003  114.019997