In [1]:
import pandas as pd
import numpy as np
import scipy.stats as stats
from statsmodels.stats import weightstats

if P value is < alpha, we reject H0, if P value is > alpha, we accept H0

In [2]:
dataset = pd.read_csv("/Users/eupirate/Documents/DA_L7_CCT/wk3_sta_50_Startups.csv")

In [3]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Unnamed: 5,Administration.1,Unnamed: 7
0,165349.20,136897.80,471784.10,New York,192261.83,NaN,NaN,NaN
1,162597.70,151377.59,443898.53,California,191792.06,NaN,Mean,121344.639600
2,153441.51,101145.55,407934.54,Florida,191050.39,NaN,Standard Error,3962.315664
3,144372.41,118671.85,383199.62,New York,182901.99,NaN,Median,122699.795000
4,142107.34,91391.77,366168.42,Florida,166187.94,NaN,Mode,NaN