In [1]:
##IMPORTING LIBRARIES

#import from scipy.stats as st
#import statistics as st

import pandas as pd
import statistics as st
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


import scipy.stats as st
import numpy as np

In [2]:
dataset = pd.read_csv('/Users/eupirate/Documents/DA_L7/wk3_sta_50_Startups.csv')

In [3]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Unnamed: 5,Administration.1,Unnamed: 7
0,165349.20,136897.80,471784.10,New York,192261.83,NaN,NaN,NaN
1,162597.70,151377.59,443898.53,California,191792.06,NaN,Mean,121344.639600
2,153441.51,101145.55,407934.54,Florida,191050.39,NaN,Standard Error,3962.315664
3,144372.41,118671.85,383199.62,New York,182901.99,NaN,Median,122699.795000
4,142107.34,91391.77,366168.42,Florida,166187.94,NaN,Mode,NaN

In [4]:
# x = money spent in admin (usd)

In [5]:
x = dataset.iloc[:,1:2].values

In [6]:
#print(x)

In [7]:
# we calc the mean of the sample, use T ( since we only have sample )
mean = x.mean()
mean

121344.63960000001

In [8]:
# we create confidence interval at 95% so alpha = 0.05
st.t.interval(alpha = 0.95, df = len(x) - 1, loc = np.mean(x),scale = st.sem(x))

/var/folders/zn/1r2fyj917_n2qngrf527q0rr0000gn/T/ipykernel_85611/1803557879.py:2: DeprecationWarning: Use of keyword argument 'alpha' for method 'interval' is deprecated and wil be removed in SciPy 1.11.0. Use first positional argument or keyword argument 'confidence' instead.
  st.t.interval(alpha = 0.95, df = len(x) - 1, loc = np.mean(x),scale = st.sem(x))

(array([113382.06816945]), array([129307.21103055]))