In [1]:
#Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math

In [2]:
dataset=pd.read_csv('/Users/eupirate/Documents/DA_L7/L7_term3/L7_term3_MLAds_CTR.csv')
dataset.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [3]:
#Step 1

ads_selected = [] #list of all the ads that will be selected over the rounds
number_of_rewards_1 = [0] * d # zero is the first element of the index, and at the first moment nothing happens
number_of_rewards_0 = [0] * d # zero is the first element of the index, and at the first moment nothing happens
total_reward = 0 #as at the beginning nothing happens, we start in zero, because here it is the cumulation during the time we are working

NameError: name 'd' is not defined

In [ ]:
for n in range(0, N): # n = rounds, index starts in 0 and goes up to N
    ad = 0 # there will be a econd loop iterating the 0 until the last ad
    max_random = 0 #we start from zero because nothing happened yet. This is the maximum of the random draws
    
    #We start the second loop
    for i in range(0, d): # here we go from 0 till the number of ads
        random_beta = random.betavariate(number_of_rewards_1[i] +1,  number_of_rewards_0[i] + 1)
        #We implement the step 3
        if random_beta > max_random: #if the max random is higher than the random beta then it will update the algorithm
            max_random = random_beta
            ad = i
#We finish the implementation updating the variables
    ads_selected.append(ad) # the ad selected list  will create a list of all the rewards
    reward = dataset.values[n, ad]
        #we need to indicate if we have a reward of 0 or 1
    if reward == 1:
        number_of_rewards_1[ad] = number_of_rewards_1[ad] + 1 # list when reward is 1
    else:
        number_of_rewards_0[ad] = number_of_rewards_0[ad] + 1 # list of reward 0
        
    total_reward = total_reward + reward #0 where we started  + cumulated rewards