In [8]:
#Importing libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima.model import ARIMA
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [9]:
dataset = pd.read_csv("/Users/eupirate/Documents/DA_L7/L7_term3/L7_term3_ML_ARIMA_SARIMA_Churrasco.csv")
dataset.head()

        Week  Churrasco  Easter  Carnaval  Republic
0  1/31/2016         42       0         0         0
1   2/7/2016         45       0         1         0
2  2/14/2016         40       0         0         0
3  2/21/2016         36       0         0         0
4  2/28/2016         39       0         0         0

In [10]:
#Convert the week column into the index
dataset['Week'] = pd.to_datetime(dataset['Week'])
dataset.set_index('Week', inplace = True)