In [1]:
#Importing the libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/Users/eupirate/anaconda3/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
dataset=pd.read_csv('/Users/eupirate/Documents/DA_L7/L7_term3/L7_term3_movies.csv')
dataset.head()

   Production Budget(M)  Worldwide Gross Income (M)              Genre
0                    13                         230             action
1                    16                         224              drama
2                    15                         221  thriller_suspense
3                    14                         202          adventure
4                    16                         198          adventure

In [3]:
# We identify the categorical and the numeric data 

categorical = 'Genre'
numerical = ['Production Budget(M)', 'Worldwide Gross Income (M)']

In [4]:
# We select our X

X = dataset[[categorical]+ numerical]

In [5]:
#Encoding the categorical data

from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

ct = ColumnTransformer(transformers = [('encoder', OneHotEncoder(), [0])], remainder = 'passthrough')
X_encoded = np.array(ct.fit_transform(X))