In [1]:
#IMPORTING LIBRARIES
import pandas as pd
import statistics as stats
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:

#IMPORTING DATASET
# Importing the dataset
dataset = pd.read_csv('/Users/eupirate/Documents/DA_L7_CCT/DA_L7/WK3_25_Sep_1_Oct/50_Startups.csv')

In [4]:
dataset.head()

,R&D Spend,Administration,Marketing Spend,State,Profit,Unnamed: 5,Administration.1,Unnamed: 7
0,165349.20,136897.80,471784.10,New York,192261.83,NaN,NaN,NaN
1,162597.70,151377.59,443898.53,California,191792.06,NaN,Mean,121344.639600
2,153441.51,101145.55,407934.54,Florida,191050.39,NaN,Standard Error,3962.315664
3,144372.41,118671.85,383199.62,New York,182901.99,NaN,Median,122699.795000
4,142107.34,91391.77,366168.42,Florida,166187.94,NaN,Mode,NaN

In [ ]:
dataset.describe()

In [ ]:
dataset.State.value_counts()

In [ ]:
#We count the values

value_counts = dataset['State'].value_counts()
relative_frequencies = value_counts / len(dataset)

In [ ]:
#We create the subtable to find the relative frequency

subtable = pd.DataFrame({'State': value_counts.index, 
                         'Frequency': value_counts.values, 
                         'Relative Frequency': relative_frequencies.values})
subtable

In [ ]:
mean_adm= dataset['Administration'].mean()
print(mean_adm)

In [ ]:
median = dataset['Administration'].median()
print(median)

In [ ]:
mode = dataset['Administration'].mode()
print(mode)

In [ ]:
ax = sns.histplot(dataset.Administration)
ax.set(xlabel='Adm Spent', ylabel='Companies', title ='Administration Histogram')

In [ ]:
ax = sns.histplot(dataset.Administration, kde=True, color ='green')
ax.set(xlabel='Adm spent', ylabel='Companies', title ='Administration Histogram')

In [ ]:
sns.boxplot(x = 'State', y ='Administration', data=dataset, hue = 'State')
plt.title('Box plot Administration', fontsize=15)
#plt.legend([], [], frameon=False)
plt.show()

In [ ]:
data_locations = dataset.groupby('State', axis = 0).sum()
data_locations

In [ ]:
locations = ['California', 'Florida', 'New York']
data_locations['Administration'].plot(kind='pie', labels = locations, radius=1, autopct='%1.1f%%', shadow = True)
plt.title('Administration spent by location')
plt.ylabel("")
plt.tight_layout()

In [ ]:
data_locations.reset_index(inplace=True)

In [ ]:
#rename columns
data_locations.columns = ['State', 'R&D Spend', 'Administration', 'Marketing Spend', 'Profit']

In [ ]:
data_locations

In [ ]:
plt.figure(figsize=(8, 6))
ax = sns.barplot(x="State", y="Administration", data=data_locations)