In [47]:
import pandas as pd
import seaborn as sns

from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

###  handlin missing  data
from sklearn.impute import SimpleImputer

### libraries for feature selection 
from scipy.stats import chi2_contingency
from sklearn.feature_selection import chi2, f_regression
from sklearn.feature_selection import SelectKBest

##

In [48]:
df_ml = pd.read_csv('ML_Data_Return.csv', na_values   = "?")

In [49]:
df_ml.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15634 entries, 0 to 15633
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                15634 non-null  int64
 1   Entry ID          15634 non-null  int64
 2   Strategic Sale    15634 non-null  int64
 3   Destination       15038 non-null  object
 4   Group             15634 non-null  int64
 5   Date              15634 non-null  object
 6   Sequence          15634 non-null  int64
 7   Product           15634 non-null  int64
 8   Qty               15634 non-null  int64
 9   Total Value       15634 non-null  object
 10  Unit Price        15634 non-null  float64
 11  Planned Date      15634 non-null  object
 12  Delivered Date    15315 non-null  object
 13  TYPE              15634 non-null  object
 14  Qty Delivered     15315 non-null  float64
 15  Order Source      15634 non-null  object
 16  Logistic Partner  15634 non-null  object
 17  Deposit           15634 non-null  object
 18  Replacement       15634 non-null  object
 19  Market Demand     15634 non-null  int64
 20  Quarter           15634 non-null  object
 21  Week              15634 non-null  int64
 22  Strateg Prod      15634 non-null  int64
 23  Strat Customer    15634 non-null  object
 24  ABC               15634 non-null  object
 25  Customer Group    15634 non-null  int64
dtypes: float64(2), int64(11), object(13)
memory usage: 3.1+ MB

In [50]:
df_ml_tr = df_ml.copy()

In [51]:
df_ml_tr.isnull().sum()

ID                    0
Entry ID              0
Strategic Sale        0
Destination         596
Group                 0
Date                  0
Sequence              0
Product               0
Qty                   0
Total Value           0
Unit Price            0
Planned Date          0
Delivered Date      319
TYPE                  0
Qty Delivered       319
Order Source          0
Logistic Partner      0
Deposit               0
Replacement           0
Market Demand         0
Quarter               0
Week                  0
Strateg Prod          0
Strat Customer        0
ABC                   0
Customer Group        0
dtype: int64

In [52]:
#### CLEANING DATA - DROPPING ALL Null data

In [53]:
### describe the dataset and visualise - descriptive statistics

In [54]:
#### Data Exploration / Visualisation 
###  some scatterplots  - set logaritm scale if necessary 
#g_rel.set(yscale="log",xscale="log") ## to observe outliers #

In [55]:

#### records with value zero (10^0)
# Check values zero

In [57]:
### date treatment 
df_ml_tr['Planned Date'] = pd.to_datetime(df_ml_tr['Planned Date'])
df_ml_tr['Date'] = pd.to_datetime(df_ml_tr['Date'])
df_ml_tr['Delivered Date'] = pd.to_datetime(df_ml_tr['Delivered Date'])

In [58]:
### Values treatment 
df_ml_tr['Total Value '] = df_ml_tr['Total Value '].str.replace('$', '').str.replace(',', '')
df_ml_tr['Total Value '] = df_ml_tr['Total Value '].astype(float)

In [59]:
#### handling missing data 

#### impute the overall mean to zero prices

In [60]:
## check the average of prices by product --- what would be the best practice here?

In [61]:
#### handling missing data - Categories 


## impute zeros categories by most-frequent - ABC
### Has ABC any relationship to any other variables?  what would be the best practice here?

In [62]:
#### Encoding 
#### create categories for type cat columns 

#### encode all the object and convert as categories
### df_ml_cat.select_dtypes(include=['object']).columns

In [63]:
# Convert each categorical column to an integer / dummy variables

In [64]:
#### Feature Selection  
#### Select fields that contributes to the Return Prediction Model 

##using correlation 
### observe the correlation (heat map) what is possible to conclude?
## IS correlation the best method for Future Selection?

In [65]:
### select all relevant columns - example below ##
columns  = ['ABC','Customer Group','Strateg Prod','Strategic Sale','Group','Product','Order Source','Logistic Partner','Deposit','Replacement','Week']

## Using SelectKBest  
## get all the relevant fields recommented by the model

In [68]:
############### here is the current dataframe used by the ML Return Model 

features_df_new = df_ml_cat[columns].iloc[:,filter]

### final dataset processed with columns : 
#Customer Group 	Group 	Product 	Deposit 	Week

In [ ]:
### by creating extra columns in your improved code (Feature engineering) , what will be the change in your dataframe, any relevant change? 
#### test this hipothesis  in your improved code