In [1]:
name = "David McQuaid"

In [2]:
type(name)

str

In [3]:
name[1]

'a'

In [4]:
name[5]

' '

In [5]:
len(name)

13

In [6]:
s = "Monty Python"

In [7]:
s[0:5] # or leave first char blank then s[:5]

'Monty'

In [8]:
s[ : ] #leave space both end would select everything

'Monty Python'

In [9]:
"Monty" in s

True

In [10]:
"hello" == "Hello"

False

In [11]:
"hello" > "Hello"

True

In [12]:
new_s = "J"+ s[1:]

In [13]:
new_s

'Jonty Python'

In [14]:
new_s = new_s.upper()

In [15]:
new_s

'JONTY PYTHON'

In [16]:
new_s = new_s.lower()

In [17]:
new_s

'jonty python'

In [18]:
new_s.find("y")

4

In [19]:
new_s.find("thon")

8

In [20]:
new_s.count("y")

2

In [21]:
line = " Have a nice day! "

In [22]:
line = line.strip()

In [23]:
line

'Have a nice day!'

In [24]:
tweetSubject = "#User is here"

In [25]:
tweetSubject.startswith("#")

True

In [26]:
#pip install yfinance

In [27]:
import yfinance as yf

In [28]:
voda = yf.Ticker("VOD")

In [29]:
# 1 day "1d", 1 week "1wk"
voda_df = voda.history(start = "2023-01-01", end = "2023-11-28", interval = "1d")

In [30]:
voda_df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-01-03 00:00:00-05:00,9.272531,9.353632,9.236486,9.335609,9242100,0.0,0.0
2023-01-04 00:00:00-05:00,9.470777,9.587923,9.443743,9.551878,9673800,0.0,0.0
2023-01-05 00:00:00-05:00,9.497811,9.578912,9.461766,9.533855,5620400,0.0,0.0
2023-01-06 00:00:00-05:00,9.542867,9.732102,9.533855,9.687046,6186500,0.0,0.0
2023-01-09 00:00:00-05:00,9.759135,9.813202,9.660012,9.678034,10003000,0.0,0.0

In [31]:
camels = 42

In [32]:
#type(camels)

In [33]:
print("I have spotted " + str(camels) + " camels")

I have spotted 42 camels

In [34]:
print("I have spotted", camels , "camels")

I have spotted 42 camels

In [40]:
print(f"I have spotted {camels} camels")

I have spotted 42 camels

In [37]:
print("%d" % camels)

42

In [41]:
print("I have spotted %d camels" % camels)

I have spotted 42 camels