In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats
from datetime import datetime
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report

In [2]:
raw_df=pd.read_csv("/Users/janet.xuishi/Documents/CA2 - Data Exploration amp Preparation - Instructions-20240319/ML_Data_Return.csv")

In [3]:
raw_df.head(10)

,ID,Entry ID,Strategic Sale,Destination,Group,Date,Sequence,Product,Qty,Total Value,...,Logistic Partner,Deposit,Replacement,Market Demand,Quarter,Week,Strateg Prod,Strat Customer,ABC,Customer Group
0,57,17592,1,?,7,1/23/2021,8,4482,250,$112.50,...,C2,L2,NO,2,2022Q3,4,0,YES,C,176
1,57,17899,1,?,7,5/1/2021,1,4486,2200,$550.00,...,C2,L2,NO,2,2022Q3,9,0,YES,C,176
2,66,18072,0,NL,2,6/26/2021,77,4440,30,$214.20,...,C6,L9,NO,3,2022Q4,1,0,No,B,3986
3,17,18181,1,US,2,8/2/2021,11,4440,62,$442.68,...,C2,L2,NO,1,2022Q3,9,0,No,B,684
4,55,18335,1,DE,7,9/13/2021,2,4481,250,$622.50,...,C6,L9,NO,3,2022Q4,12,0,No,C,521
5,66,18378,0,NL,2,9/27/2021,31,4440,500,"$3,570.00",...,C6,L9,NO,3,2022Q1,4,0,No,B,3986
6,66,18397,0,NL,2,10/4/2021,1,4452,99,"$1,906.74",...,C6,L9,NO,3,2022Q3,10,0,No,B,3986
7,66,18397,0,NL,2,10/4/2021,1,4452,19,$365.94,...,C6,L9,NO,3,2022Q3,10,0,No,B,3986
8,55,18462,1,DE,23,10/25/2021,4,4492,500,"$1,715.00",...,C6,L9,NO,3,2022Q3,5,0,No,B,521
9,55,18462,1,DE,23,10/25/2021,4,4492,100,$343.00,...,C6,L9,NO,3,2022Q3,5,0,No,B,521

In [4]:
### 2 date columns don't have standard format
# from datetime import datetime

raw_df['Date'] = pd.to_datetime(raw_df['Date'], errors='coerce')

# The 'Quarter' column seems to represent a quarter and year, but it's not a standard date.
# We'll extract the year and quarter, and then convert it to a datetime representing the start of the quarter.

# Function to convert quarter strings to datetime objects representing the quarter start
def quarter_to_datetime(quarter_str):
    try:
        year, quarter = quarter_str.split('Q')
        year, quarter = int(year), int(quarter)
        month = (quarter - 1) * 3 + 1  # Calculate the starting month of the quarter
        return datetime(year, month, 1)
    except ValueError:  # In case of formatting issues
        return None

raw_df['Quarter_Start'] = raw_df['Quarter'].apply(quarter_to_datetime)

# Check if the conversion was successful and preview the updated dataframe
raw_df[['Date', 'Quarter', 'Quarter_Start']].head()

        Date Quarter Quarter_Start
0 2021-01-23  2022Q3    2022-07-01
1 2021-05-01  2022Q3    2022-07-01
2 2021-06-26  2022Q4    2022-10-01
3 2021-08-02  2022Q3    2022-07-01
4 2021-09-13  2022Q4    2022-10-01