In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("/Users/eupirate/Desktop/CCT_Stats_CA/garments_worker_productivity.csv")

In [3]:
df.head()

,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,sweing,Thursday,8,0.8,26.16,1108,7080,98,0.0,0,0,59.0,0.940725
1,sweing,Thursday,11,0.8,11.41,968,3660,50,0.0,0,0,30.5,0.800570
2,sweing,Thursday,12,0.8,11.41,968,3660,50,0.0,0,0,30.5,0.800570
3,sweing,Thursday,6,0.8,25.90,1170,1920,50,0.0,0,0,56.0,0.800382
4,sweing,Thursday,7,0.8,25.90,984,6720,38,0.0,0,0,56.0,0.800125

In [4]:
df.describe()

,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
count,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000,691.000000
mean,6.520984,0.723980,23.245412,1190.465991,6508.205499,44.483357,1.264834,0.639653,0.260492,52.445731,0.722013
std,3.458333,0.102006,6.976497,1837.455001,2864.505604,27.596591,16.712923,4.283652,0.537185,9.417353,0.154784
min,1.000000,0.070000,10.050000,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,26.000000,0.233705
25%,4.000000,0.700000,18.790000,774.500000,4560.000000,30.000000,0.000000,0.000000,0.000000,52.000000,0.661470
50%,6.000000,0.750000,22.520000,1039.000000,6840.000000,45.000000,0.000000,0.000000,0.000000,57.000000,0.750608
75%,10.000000,0.800000,28.080000,1252.500000,7200.000000,60.000000,0.000000,0.000000,0.000000,58.000000,0.800402
max,12.000000,0.800000,54.560000,23122.000000,25920.000000,138.000000,300.000000,45.000000,2.000000,89.000000,1.100484

# Stats CA2

Inferential Statistics - part 1

The company believes implemented new machines and they believe this would reduce the average
overtime (in minutes) that the workers will do, which will lead to a cost reduction in the end. They tried it in
a group of 200 workers, which shows an average overtime of 6300 minutes. Can we say that the company
is right? Formulate an appropriate hypothesis and justify your answer.

Number of workers total population in csv file: 36240
Experiment ran among sample of 200 workers, result of after new machines implementation overtime MEAN is 6300 minutes.
We need to find out if the MEAN overtime is higher or lower than 6300 minutes to determine if implementing the new machines is a success or failure.

H0 New machines did not reduce the over time, before and after MEAN over time is the same, or after over time is greater than the old machines overtime.
H1 New machines reduced MEAN over time before, less than old machines MEAN over time.

In [5]:
# Calculte the MEAN and STD of the overtime for the entire population
population_mean_overtime = round(df["over_time"].mean(),2)
population_std = round(df["over_time"].std(),2)
print(population_mean_overtime, population_std)

6508.21 2864.51

In [6]:
# Given the mean and std of the overtime of the sample (200 workers and the average overtime among 200 workers after new machines implementation )
sample_mean = 6300
sample_size = 200

In [7]:
# Calculte standard error 
standard_error = round(population_std / (sample_size ** 0.5),2)
print(standard_error)

202.55

Hypothesis: 

H0 New machines did NOT reduce the over time, before and after MEAN over time is the same, or greater than the old machines overtime.

H1 New machines reduced MEAN over time before, less than old machines MEAN over time.

In [8]:
#import scipy.stats libary
from scipy.stats import norm
#calulate z-score
z_score = ( sample_mean - population_mean_overtime) / ( population_std / ( sample_size ** 0.5 ))
#print(z_score)
print(f"Z-score is negative: {z_score:.2f}, indicates that sample mean 6300 minutes is less than population mean.")

#calulate p-value
p_value = 2 * norm.sf(abs(z_score))
#print(p_value)
print(f"P-value is {p_value:.2f}, which is much higher than alpha level of 0.05, indicates the difference in mean overtime, we do NOT have sufficient evidence to reject H0. The data does NOT provide strong evidence to support the claim that implementation of new machines was successful in reducing overtime.")

Z-score is negative: -1.03, indicates that sample mean 6300 minutes is less than population mean.
P-value is 0.30, which is much higher than alpha level of 0.05, indicates the difference in mean overtime, we do NOT have sufficient evidence to reject H0.
The data does NOT provide strong evidence to support the claim that implementation of new machines was successful in reducing overtime.

In [9]:
after_mean_overtime = 6300.00
print(f"Average overtime after new machines implementation: {after_mean_overtime} minutes")

Average overtime after new machines implementation: 6300.0 minutes

In [10]:
mean_before = before_mean_overtime
mean_after = after_mean_overtime
n_after = 200

NameError: name 'before_mean_overtime' is not defined

# Stats CA2

Inferential Statistics - part 2

Formulate an appropriate analysis to determine the real average productivity of these workers each day of
the week. Is there any difference between the days? Along with your results, provide a possible explanation
on the outcome.