In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Q1

In [2]:
#num_input = input("Please give me three whole numbers")

In [3]:
def sum():
    user_input = input("How manynumbers?")
    user_num_1 = int(input("Please give me first whole numbers"))
    user_num_2 = int(input("Please give me second whole numbers"))
    user_num_3 = int(input("Please give me third whole numbers"))
    num_input = user_num_1 + user_num_2 + user_num_3
    print(f"The Sum of numbers in the given list is: {num_input}.")
sum()

How manynumbers?3
Please give me first whole numbers4
Please give me second whole numbers3
Please give me third whole numbers7
The Sum of numbers in the given list is: 14.

Q2

In [4]:
def calc(): 
    user_num_1 = int(input("Please give me first whole numbers: "))
    user_num_2 = int(input("Please give me second whole numbers: "))
    sum = user_num_1 + user_num_2
    if sum == 9:
        print(9)

    else:
        print("Invalid Entry.")
calc()

Please give me first whole numbers: 5
Please give me second whole numbers: 5
Invalid Entry.

Q3

In [5]:
list = [5,8,4,9,6,7,10,15,12]
smallest_num = list[0]

for i in range(0,len(list)):
    if list[i] < smallest_num:
        smallest_num = list[i]
        smallest_index = i
print(f"The smallest number in the list is {smallest_num} which is found at position {smallest_index}.")

The smallest number in the list is 4 which is found at position 2.

Q4

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("/Users/eupirate/Documents/DA_L7_CCT/wk8_py_in_class_cardata.csv")

df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

Q4.1

In [8]:
df.shape

(11914, 16)

Q4.2

In [9]:
df.describe()

,Year,Engine HP,Engine Cylinders,Number of Doors,highway MPG,city mpg,Popularity,MSRP
count,11914.000000,11845.00000,11884.000000,11908.000000,11914.000000,11914.000000,11914.000000,1.191400e+04
mean,2010.384338,249.38607,5.628829,3.436093,26.637485,19.733255,1554.911197,4.059474e+04
std,7.579740,109.19187,1.780559,0.881315,8.863001,8.987798,1441.855347,6.010910e+04
min,1990.000000,55.00000,0.000000,2.000000,12.000000,7.000000,2.000000,2.000000e+03
25%,2007.000000,170.00000,4.000000,2.000000,22.000000,16.000000,549.000000,2.100000e+04
50%,2015.000000,227.00000,6.000000,4.000000,26.000000,18.000000,1385.000000,2.999500e+04
75%,2016.000000,300.00000,6.000000,4.000000,30.000000,22.000000,2009.000000,4.223125e+04
max,2017.000000,1001.00000,16.000000,4.000000,354.000000,137.000000,5657.000000,2.065902e+06

Q4.3

In [10]:
df_coupe = df["Vehicle Style"] == "Coupe"
print(df_coupe)

0         True
1        False
2         True
3         True
4        False
         ...
11909    False
11910    False
11911    False
11912    False
11913    False
Name: Vehicle Style, Length: 11914, dtype: bool

Q4.4

In [11]:
df_new = df_coupe.drop(["Driven_Wheels","Vehicle Size"],axis = 1)

ValueError: No axis named 1 for object type Series